$primary: #252525; // Thats a sample how you could change a BootStrap variable.
$secondary: #ffffff;
$secondary-500: #a6adbb;
$accent: #faa61a;

// Font family
$heading_font: 'Montserrat', sans-serif;
$body_font: 'Raleway', sans-serif;

// Media queries
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;