// sub header
.sub-header{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    color: $secondary;
    .sub-header__primary{
        .sub-header__heading{
            font-family: $heading_font;
            font-size: 3.2rem;
        }
        nav{
            ul{
                font-family: $heading_font;
                display: flex;
                padding: 0;
                li{
                    font-size: 1.4rem;
                    list-style-type: none;
                    padding: 0 20px;
                    border-right: 1px solid $accent;
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        border-right: none;
                    }
                    a{
                        color: $secondary;
                    }
                }
            }
        }
    }
    .sub-header__secondary{
        display: flex;
        justify-content: center;
        align-items: center;
        .sub-header__content{
            display: flex;
            position: absolute;
            text-align: center;
            flex-direction: column;
            top: 50%;
            font-family: $heading_font;
            mix-blend-mode: difference;
            .sub-header__surname{
                font-size: 72px;
            }
            .sub-header__number{
                font-size: 56px;
            }
            .sub-header__links{
                ul{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    li{
                        list-style-type: none;
                    }
                }
            }
        }
    }
}

.h-420{
    height: 420px;
}

@media screen and (max-width: $sm){
    .sub-header{
        .sub-header__primary{
            nav{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li{
                        width: 48%;
                        border-right: none;
                        padding: 8px 0;
                        margin-bottom: 10px;
                        border-bottom: 1px solid $accent;
                    }
                }
            }
        }
        .sub-header__secondary{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .sub-header__content{
                display: flex;
                flex-direction: column;
                font-family: $heading_font;
                .sub-header__surname{
                    // display: none;
                }
                .sub-header__number{
                    display: none;
                }
                .sub-header__links{
                    display: none;
                }
            }
        }
    
    }
}

.filter-wrapper{
    width: 100%;
    padding: 20px 0;
    background-color: $accent;
    font-family: $heading_font;
    font-size: 1.4rem;
    .filter-wrapper__grid{
        display: flex;
        justify-content: center;
        align-items: center;
        .filter-wrapper__season, .filter-wrapper__competition{
            select{
                border: none;
                padding: 8px 0;
                background-color: transparent;
                cursor: pointer;
                &:focus{
                    color: $secondary;
                }
                option{
                    font-family: $body_font;
                    padding: 10px 0;
                    color: $primary;
                }
            }
        }
    }
}