$primary: #252525; // Thats a sample how you could change a BootStrap variable.
$secondary: #ffffff;
$secondary-500: #a6adbb;
$accent: #faa61a;
$text: #1b2d45;

// Font family
$heading_font: 'Montserrat', sans-serif;
$body_font: 'Raleway', sans-serif;

// Media queries
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;



// $background: #fffffe;
// $card-background: #f2f4f6;
// $heading: #00214d;
// $link: #ff526f;
// $link-darkened: #ad001d;
// $link-muted: #d98c99;
// $text: #1b2d45;
// $text-muted: #abb1ba;