<!-- ******************* Covid 19 Notification ******************* --> 
<aside class="covid-19-information text-center alert alert-dismissible fade show" role="alert">
    <div class="row">
      <div class="col-lg-12">
        <span class="fw-bold">Stay Informed! </span><span>Visit the SA Department of Health's Website for COVID-19 updates:</span>
        <a href="http://sacoronavirus.co.za" target="_blank">
          <span class="fw-bold badge bg-dark">sacoronavirus.co.za</span>
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
</aside>
<!-- ******************* end of Covid 19 Notification ******************* --> 