<section class="home-section" data-scroll-section>
    <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-controls">
          <ol class="carousel-indicators">
            <li data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-image:url('url:./assets/img/slide-1.jpg');"></li>
            <li data-bs-target="#carousel" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2" style="background-image:url('url:./assets/img/slide-1.jpg');"></li>
            <li data-bs-target="#carousel" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3" style="background-image:url('url:./assets/img/slide-1.jpg');"></li>
          </ol>
          <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-angle-left" aria-hidden="true"></i>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
      <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="10000" style="background-image:url('url:./assets/img/slide-1.jpg');">
          <div class="container">
            <div class="featured-article">
              <h2 class="featured-article__title">Chiefs 1 begin quest for 16th MTN8 trophy</h2>
              <a href="#" class="btn featured-article__btn">Find Out More</a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="10000" style="background-image:url('url:./assets/img/slide-1.jpg');">
          <div class="container">
            <div class="featured-article">
              <h2 class="featured-article__title">Chiefs 2 begin quest for 16th MTN8 trophy</h2>
              <a href="#" class="btn featured-article__btn">Find Out More</a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="10000" style="background-image:url('url:./assets/img/slide-1.jpg');">
          <div class="container">
            <div class="featured-article">
              <h2 class="featured-article__title">Chiefs 3 begin quest for 16th MTN8 trophy</h2>
              <a href="#" class="btn featured-article__btn">Find Out More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>