<div id="footer" data-scroll-section>
    <div class="container">
        <!-- Footer Sponsors -->
        <div class="row footer__sponsors">
            <ul class="footer__sponsors-list">
                <li>
                    <a href="https://www.vodacom.co.za/" title="Vodacom" target="_blank">
                        <img src="url:../assets/img/sponsors/vodacom-logo.png" alt="Vodacom logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.nike.com/za/" title="Nike" target="_blank">
                        <img src="url:../assets/img/sponsors/Sponsor_Nike_website.png" alt="Nike logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.toyota.co.za/" title="Toyota" target="_blank">
                        <img src="url:../assets/img/sponsors/4-kc-sp-toyota100-active.png" alt="Toyota logo">
                    </a>
                </li>
                <li>
                    <a href="https://medshield.co.za/" title="Medshield" target="_blank">
                        <img src="url:../assets/img/sponsors/medshield-logo-update-1.png" alt="Medshield logo">
                    </a>
                </li>
                <li>
                    <a href="https://supersport.com/" title="SuperSport" target="_blank">
                        <img src="url:../assets/img/sponsors/Sponsor_SS_website.png" alt="SuperSport logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.carlingblacklabel.co.za/" title="Black Label" target="_blank">
                        <img src="url:../assets/img/sponsors/Sponsor_CBL_website.png" alt="Carling Black Label logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.kaelo.co.za/" title="Kaelo" target="_blank">
                        <img src="url:../assets/img/sponsors/kaelo-logo1-1.png" alt="Kaelo logo">
                    </a>
                </li>
            </ul>
        </div><!-- end of Footer Sponsors -->
        <!-- Footer Sitemap -->
        <div class="row footer__sitemap">

            <div class="col-lg-2 col-6 col-md-4">
                <h6>News</h6>
                <ul>
                    <li>
                        <a href="">Latest</a>
                    </li>
                    <li>
                        <a href="">Team</a>
                    </li>
                    <li>
                        <a href="">Club</a>
                    </li>
                    <li>
                        <a href="">Features</a>
                    </li>
                    <li>
                        <a href="">Tickets & Travel</a>
                    </li>
                    <li>
                        <a href="">Community</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>Matches</h6>
                <ul>
                    <li>
                        <a href="../pages/fixtures.html">Fixtures</a>
                    </li>
                    <li>
                        <a href="../pages/results.html">Results</a>
                    </li>
                    <li>
                        <a href="../pages/tables.html">Tables</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>Teams</h6>
                <ul>
                    <li>
                        <a href="">Senior</a>
                    </li>
                    <li>
                        <a href="">Reserve</a>
                    </li>
                    <li>
                        <a href="">Youth Development Academy</a>
                    </li>
                    <li>
                        <a href="">Rugby 7'S</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>Fans</h6>
                <ul>
                    <li>
                        <a href="">Health & Wellness</a>
                    </li>
                    <li>
                        <a href="">We're Amakhosi</a>
                    </li>
                    <li>
                        <a href="">Membership</a>
                    </li>
                    <li>
                        <a href="">Family Rules</a>
                    </li>
                    <li>
                        <a href="">KC Mobile</a>
                    </li>
                    <li>
                        <a href="">KC Insurance</a>
                    </li>
                    <li>
                        <a href="">Retail</a>
                    </li>
                    <li>
                        <a href="">Competitions</a>
                    </li>
                    <li>
                        <a href="">Magazine</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>Club</h6>
                <ul>
                    <li>
                        <a href="">Chairman</a>
                    </li>
                    <li>
                        <a href="">History</a>
                    </li>
                    <li>
                        <a href="">Corporate</a>
                    </li>
                    <li>
                        <a href="">Community</a>
                    </li>
                    <li>
                        <a href="">Sponsors</a>
                    </li>
                    <li>
                        <a href="">KC Village</a>
                    </li>
                    <li>
                        <a href="">KC Gym</a>
                    </li>
                    <li>
                        <a href="">Trophy Room</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>kctv</h6>
                <ul>
                    <li>
                        <a href="">Latest Videos</a>
                    </li>
                    <li>
                        <a href="">On Camera</a>
                    </li>
                    <li>
                        <a href="">Next Show</a>
                    </li>
                    <li>
                        <a href="">Highlights</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>Media</h6>
                <ul>
                    <li>
                        <a href="">Gallery</a>
                    </li>
                    <li>
                        <a href="">Press Releases</a>
                    </li>
                    <li>
                        <a href="">Photography</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>Shop <i class="fas fa-external-link-alt"></i></h6>
                <ul>
                    <li>
                        <a href="">KC Digistore</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>Help</h6>
                <ul>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>Subscribe</h6>
                <ul>
                    <li>
                        <a href="">Newsletter</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 col-md-4">
                <h6>Join Us</h6>
                <ul class="footer__social-icons">
                    <li class="pl-0">
                        <a href="https://www.instagram.com/kcfcofficial/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/kaizerchiefs/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/kaizerchiefs"	target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/KaizerChiefsFootballClub" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <a href="">
                    <img class="footer__img--filter" src="url:../assets/logo.png" alt="Kaizer Chiefs logo">
                </a>
            </div>           
        </div><!-- end of Footer Sitemap -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="footer__copyright">© 2021 Kaizer Chiefs FC. All rights reserved. No part of this site may be reproduced without our written permission.</p>
            </div>
        </div>
    </div>
</div>