<div class="wrapper">
    <div class="campo">
       <div class="semi1"></div>
       <div class="semi2"></div>
       <div class="divisoria"></div>
       <div class="interior"></div>
       <div class="penalty"></div>
       <div class="am"></div>         
       <!-- <div class="gk"></div>
       <div class="cb"></div>
       <div class="lb"></div>
       <div class="rb"></div>
       <div class="lwb"></div>
       <div class="dm"></div>
       <div class="rwb"></div>
       <div class="lm"></div>
       <div class="cm"></div>
       <div class="rm"></div>
       <div class="amr"></div>
       <div class="am"></div>
       <div class="aml"></div>
       <div class="wl"></div>
       <div class="cf"></div>
       <div class="wr"></div>
       <div class="st"></div> -->
    </div>
</div>