#footer{
    background-color: $primary;
    color: $secondary;
    font-size: 1.2rem;
    padding: 32px 0;
    .footer__sponsors{
        padding: 24px 0;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        .footer__sponsors-list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            li{
                list-style-type: none;
                padding: 6px 0;
                margin: 0;
                a{
                    display: block;
                    text-align: center;
                    padding: 0 12px;
                    img{
                        height: 48px;
                    }
                }
            }
        }
    }
    .footer__sitemap{
        border-top: 2px solid $accent;
        padding: 40px 0;
        h6{
            font-family: $heading_font;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
        ul{
            padding: 0;
            li{
                list-style: none;
                padding: 6px 0;
                a{
                    color: $secondary-500;
                    &:hover{
                        color: $accent;
                    }
                }
            }
        }
        .footer__social-icons{
            li{
                display:inline;
                font-size: 1.6rem;
                padding-left: 0;
                padding-right: 16px;
            }
        }
        .footer__img--filter{
            filter: grayscale(1) contrast(0.9) opacity(0.9);
        }
    }
    .footer__copyright{
        color: $secondary-500;
    }
}

@media(max-width: $sm){
    #footer{
        .footer__sponsors{
            padding: 24px 0;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            .footer__sponsors-list{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto; 
                gap: 32px 0;
                padding: 0;
                margin: 0;
                li{
                    list-style-type: none;
                    a{
                        display: block;
                        text-align: center;
                        padding: 0 12px;
                        img{
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: $md){
    #footer{
        .footer__sponsors{
            .footer__sponsors-list{
                min-height: 100px;
                li{
                    a{
                        padding: 10px 30px;
                        img{
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}