.secondary-nav,.header--sticky{
    position: sticky;
    top: 0;
    z-index: 100;
}

// Secondary Nav (Social links)
.secondary-nav{
    background-color: $accent;
    color: $primary;
    overflow: hidden;
    width: 100%;
    .secondary-nav__container{
        display: flex;
        justify-content: space-between;
    }
    .secondary-nav__links{
        display: flex;
        //flex-direction: row-reverse;
        margin: 0;
        padding: 0;
        list-style: none;
        .secondary-nav__link{
            a{
                display: block;
                color: $primary;
                transition: all ease-in-out .2s;
                font-size: 1rem;
                padding: 0 16px;
                text-decoration: none;
                &:hover{
                    color: $accent;
                    background-color: $primary;
                }
            }
        }
    }
    .secondary-nav__social-icons{
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;
        .secondary-nav__social-icon{
            a{
                display: block;
                color: $primary;
                transition: all ease-in-out .2s;
                font-size: 1rem;
                padding: 0 16px;
                &:hover{
                    color: $accent;
                    background-color: $primary;
                }
            }
        }
    }
}

// Navbar
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color: $accent;
}
.scrolled-down{
  transform: translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform: translateY(0); transition: all 0.3s ease-in-out;
}
#main-nav{
    font-size: 1.5rem;
    .main-menu{
        li{
            a{
                text-transform: uppercase;
                font-family: $heading_font;
                color: $secondary;
                &:hover{
                    color: $accent;
                    text-decoration: none;
                }
            }
            .dropdown-menu{
                font-size: 1.5rem;
                background-color: $secondary;
                border: 1px solid $accent;
                border-radius: 0;
                li{
                    a{
                        color: $primary;
                        &:hover{
                            background-color: $accent;
                            text-decoration: none;
                        }
                    }
                }
            }
            .dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
            }
        }
    }
    .bg-dark{
        background-color: $primary!important;
    }
}

@media all and (min-width: $lg) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
@media all and (max-width: $md) {
	.navbar-brand{
        img{
            width: 54px;
            height: auto;
            object-fit: contain;
        }
    }
}

// Covid 19 Notification
.covid-19-information{
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: $accent;
    color: $primary;
    overflow: hidden;
    margin: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    a{
        span{
            padding: 7px;
        }
    }
}