
.newsletter{
    padding: 40px 0;
    .newsletter__header{
        text-transform: capitalize;
        .newsletter__title{
            font-family: $heading_font;
            font-size: 3rem;
            margin-bottom: 10px;
        }
        .newsletter__subtitle{
            font-size: 1.8rem;
            margin-bottom: 20px;
        }
    }
    .form-text-field{
        height: 50px;
        margin-bottom: 30px;
        border-radius: 0;
        outline: none;
        &:focus{
            border-color: $accent;
            box-shadow: none;
            outline: none;
        }
    }
    .form-check{
        font-size: 1.5rem;
    }
    .form-check-input:checked {
        background-color: $accent;
        border-color: $accent;
        box-shadow: 0 0 0 3px rgba($accent, 0.25);
    }
    .form-check-input:focus:not(:checked) {
        border-color: $accent;
        box-shadow: 0 0 0 3px rgba($accent, 0.25) !important;
    }
    .btn-primary{
        text-transform: uppercase;
        padding: 15px 40px;
        margin-top: 10px;
        border-radius: 0;
        font-size: 1.2rem;
        margin-left: 15px;
        font-family: $heading_font;
        &:hover{
            background-color: $accent;
            border-color: $accent;
        }
    }
    .form-group {
        margin-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        input{
            font-size: 1.5rem;
        }
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
    }
    label {
        margin-bottom: 5px;
    }
}
@media(max-width: $sm){
    .form-group {
        width: 100%;
    }
}
