.standings-wrapper{
    padding: 30px 0;
    // background: url('/assets/img/sort_both.png');
    h2{
        font-family: $heading_font;
        padding-bottom: 20px;
    }
    .standings-bold{
        font-weight: bold!important;
        color: $primary!important;
    }
    table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
        background-color: $accent;
    }
    table.dataTable thead .sorting_asc {
        // background-image: url('/assets/img/sort_asc.png') !important;
    }
    table.dataTable thead .sorting_desc {
        // background-image: url('/assets/img/sort_desc.png') !important;
    }
    table.dataTable thead .sorting {
        // background-image: url("/assets/img/sort_both.png") !important;
    }
    .table{
        font-size: 1rem;
        td, th {
            padding: 1rem;
            vertical-align: top;
            //border-top: 1px solid #dee2e6;
            border: none;
        }
        thead{
            th {
                vertical-align: bottom;
                //border-bottom: 2px solid #dee2e6;
                border: none;
                color: $secondary-500;
            }
        }
        tbody{
            td{
                &:first-child{
                    font-weight: bold;
                }
            }
        }
    }
    #teamStandingsTable{
        td, th {
            vertical-align: middle;
        }
    }
    table.dataTable.no-footer {
        border: none;
    }
    .dataTables_wrapper{
        width: 100%;
    }
    .team-standings-active{
        background-color: $primary;
        color: $secondary;
        p{
            font-weight: bold;
        }
    }
    .team-standings{
        display: flex;
        align-items: center;
        .team-standings-crest{
            flex: 0 0 25px;
            margin-right: 10px;
            img{
                max-width: 100%;
            }
        }
        .team-standings-name{
            margin: 0;
            text-transform: capitalize;
        }
    }
}

@media screen and (max-width: $sm){
    .standings-wrapper {
        .table{
            font-size: .8rem;
        }
    }
}