@import "./styles/bootstrap.scss";
@import "./styles/variables.scss";
@import "./styles//navbar/navbar.scss";


:root {
    /* 
    font-size: 10px;
    where 16px = 1.6rem
    remember rem stands for 'relative to font-size of the root element' (which is identical to the selector 'html')
    */
    font-size: 16px;
}

body{
    font-family: $body_font;
    background-color: aquamarine;//$secondary;
    height: 400vh;
}